*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --primary-btn-bg-color: #333eff;
    --primary-btn-text-color: #fff;
    --btn-bg-color-highlight: #f61515;
}

.grid
{
    display: grid;
}

.grid-col-6
{
    grid-template-columns: repeat(6,1fr);
}

.grid-col-1
{
    grid-template-columns: repeat(1, 1fr);
}

.grid-item-col2-span-4
{
    grid-column: 2/span 4;
}

.game-screen-main
{
    height: 100vh;
    background-color: bisque;
}

.money-tree-item
{
    margin: 1rem 0;
    background-color: var(--primary-btn-bg-color);
    width: 100px;
    height: 50px;
    color: var(--primary-btn-text-color);
    text-align: center; /*align text center horizontally*/
    align-content: center; /*align text center vertically. Must be in a grid first*/
}

.horizontal-pos-center
{
    justify-self: center;
}

.game-screen-left
{
    background-color: var(--primary-btn-text-color);
}

.game-screen-middle
{
    background-color: bisque
}

.game-screen-right
{
    background-color: var(--primary-btn-text-color);
    height: 100vh;
    text-align: center;
}

.game-screen-right div
{
    text-align: center;
    margin-top: 0.5rem;
}

.game-counter
{
    background-color: var(--primary-btn-bg-color);
    color: var(--primary-btn-text-color);
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
}

.bank
{
    justify-self: center;
    background-color: var(--btn-bg-color-highlight);
}